@model Web.Models.Person
@{
    ViewBag.Title = "Person Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetPerson</h2>

<div class="form-horizontal">
    <div class="form-group">
        <label for="FName" class="control-label col-md-2">First Name</label>
        <div class="col-md-10">@Model.FName</div>
    </div>

    <div class="form-group">
        <label for="LName" class="control-label col-md-2">Last Name</label>
        <div class="col-md-10">@Model.LName</div>
    </div>

    <div class="form-group">
        <label for="Dob" class="control-label col-md-2">Date of Birth</label>
        <div class="col-md-10">@Html.DisplayFor(model => model.Dob)</div>
    </div>

    <div class="form-group">
        <label for="Address" class="control-label col-md-2">Address</label>
        <div class="col-md-10">@Model.Address</div>
    </div>

    <div class="form-group">
        <label for="Address2" class="control-label col-md-2">Address 2</label>
        <div class="col-md-10">@Model.Address2</div>
    </div>

    <div class="form-group">
        <label for="City" class="control-label col-md-2">City</label>
        <div class="col-md-10">@Model.City</div>
    </div>

    <div class="form-group">
        <label for="Suburb" class="control-label col-md-2">Suburb</label>
        <div class="col-md-10">@Model.Suburb</div>
    </div>

    <div class="form-group">
        <label for="Postcode" class="control-label col-md-2">Postcode</label>
        <div class="col-md-10">@Model.Postcode</div>
    </div>
</div>

<div>
    <a href="~/People/">Back to List</a>
</div>
